/*@import url("./topmenu.css");*/
body{
    display: flex;
    flex-flow: column;
    margin: 0px;
}

.jumbotron-with-background {
    color:gray;
    background-image: url(../images/bgcarroussel.jpeg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rodape{
    background-color: gray;
    color: white
}

